<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Things there should be an award for</string>
	<string>Worst super power</string>
	<string>Places not to put vegetables</string>
	<string>Things you don&apos;t want to see in a bathroom</string>
	<string>Best appendage to have amputated</string>
	<string>Most fun chronic disease</string>
	<string>Things I&apos;ve pooped on</string>
	<string>Things that would get you fired from Pizza Hut</string>
	<string>Things your poo says about you</string>
	<string>Best misheard lyrics</string>
	<string>Holidays not celebrated in Africa</string>
	<string>Things not to give a toddler</string>
	<string>Places you want to avoid when drunk</string>
	<string>Worst response to &quot;I love you&quot;</string>
</array>
</plist>
